body {
  margin: 0;
  font-family: PingFangSC-Regular, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  font-size: 0.6875rem;
}

.red {
  color: var(--red);
}
