body {
  margin: 0;
  font-family: PingFangSC-Regular, sans-serif;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
}

html {
  overflow-x: hidden;
  -ms-overflow-x: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.showOnMobile {
  display: none;
}

@media only screen and (max-width: 530px) {
  .hiddenOnMobile {
    display: none;
  }

  .showOnMobile {
    display: initial;
  }
}
