body {
  margin: 0;
  font-family: PingFangSC-Regular, sans-serif;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 460px) {
  .hiddenOnMobile {
    display: none;
  }
}
